.edit_error_class {
  display: block;
  color: red;
}

.sidebar ul {
  margin:0;
  padding:0;
  border-bottom:1px solid #ccc;
}


.sidebar ul li {
  margin:0;
  padding:0;
  list-style:none;
  border:1px solid #ccc;
  border-bottom:none;
}

.sidebar ul li a {
  display:block;
  padding:3px;
  text-indent:30px;
  text-decoration:none;
}

.sidebar ul li span {
  display:block;
  padding:3px;
  text-indent:30px;
  text-decoration:none;
}

.sidebar ul li a:hover {
  background-color: #eee;
}

.ralign {
  text-align: right;
}
.calign {
  text-align: center;
}

div.box {
  margin-bottom: 5px;
  border-radius: 6px;
  background: linear-gradient(to bottom, #88bfe8 0%,#70b0e0 100%);
}

ul.todo-list {
  margin: 0;
}

.todo-list-all-wrapper {
  font-size: 18px;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item-open {

}

.todo-item-done {
  text-decoration: line-through;
  opacity: 0.7;
}

input[type='checkbox'].todo-toggle-done {
  -webkit-appearance:none;
  width:25px;
  height:25px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}


input[type='checkbox']:checked.todo-toggle-done {
  background: #737b9c;
}

.todo-filter-links {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
  font-size: 14px;
}

.new-todo-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.new-todo-form input {
  font-size: 20px;
  padding: 5px;
  width: 70%;
}
.new-todo-form button {
  font-size: 18px;
  padding: 5px 10px;
}


.greenButton {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color:#77b55a;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.greenButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color:#72b352;
}
.greenButton:active {
  position:relative;
  top:1px;
}